@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./Assets/Fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    url("./Assets/Fonts/roboto-v27-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("./Assets/Fonts/roboto-v27-latin-500.woff2") format("woff2"),
    url("./Assets/Fonts/roboto-v27-latin-500.woff") format("woff");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(153, 153, 153);
  height: 100%;
  font-family: "Roboto", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 1.5;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img {
  vertical-align: middle;
}